body{
    background-color:bisque;  
}
.container{
    height:90px;
    width:1200px;
    border:2px solid;
    background-color: orangered;
    border-radius: 10px;
    margin-left: 150px;
    display:flex;
    justify-content: space-around;
    padding:10px;
}
.childbox{
    width:200px;
    height:150px;
    /*border:2px solid;*/
}
.child{
    color: white;
    font-size:larger
}
.child:hover{
    color: black;
}
.pcontainer{
    width:1000px;
    height:300px;
    display:flex;
    justify-content:space-between;
    gap:20px;
    margin-left: 150px;
    margin-top: 100px;
    flex-wrap:nowrap;
}
.childs{
    width:150px;
    height:150px;
    border-radius: 50%;
    border:2px solid;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
p{
    font-size: 20px;
    text-align: center;
}
img{
    width:100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}
.container1{
    width:600px;
    height:400px;
    margin-left: 100px;
}
.ccontainer1{
    width:600px;
    height:400px;
    border:2px solid;
    margin-left: 150px;
}
.container2{
    height:800px;
    width:200px;
    border:2px solid;
}
